* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #EAE8DC;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    @media (max-width: 950px) {
        flex-direction: column; /* Cambia la dirección para pantallas más pequeñas */
        height: fit-content;
    }
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    @media (max-width: 950px) {
        width: 100%; /* Cambia el ancho para pantallas más pequeñas */
        padding: 1.5rem;
    }
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 6% 0;
    width: 60%;
    @media (max-width: 950px) {
        width: 100%; /* Cambia el ancho para pantallas más pequeñas */
        padding: 1.5rem;
    }
}

.cover{
    display: block;
    margin: auto;
    height: 80%;
    width: auto;
    border-radius: 26px;
    @media (max-width: 950px) {
        width: 100%; /* Cambia la dirección para pantallas más pequeñas */
        height: auto;
    }
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #586A13;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 600px;
    color: #858376;
}

.strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: #586A13;
}

.definicion {
    margin-bottom: 2rem;
}

input {
    background-color: #F8F8EF;
    border: none;
    border-radius: 12px;
    margin-right: 14px;
    padding: 12px;
    box-shadow: 0px 4px 4px 0px rgba(110, 125, 39, 0.10);
    @media (max-width: 950px) {
        width: 100%; /* Cambio para pantallas más pequeñas */
        max width: 300px;
        margin-bottom: 0.5rem;
    }
}

button {
    background-color: #586A13;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    color: #DDDDDD;
    box-shadow: 0px 4px 4px 0px rgba(110, 125, 39, 0.10);
    cursor: pointer;
}

.contenedor-calculadora {
    @media (max-width: 950px) {
        width: 100%; /* Cambio para pantallas más pequeñas */
        display: flex;
        flex-direction: column;
    }
}

.oculto{
    display: none;
}

.resultado-calculadora {
    margin-top: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}

a {
    color: #586A13;
}